<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>castic</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
		<link rel="shortcut icon" type="image/ico" href="{% static "logo.ico"%}">
		<script src="{% static "jquery-3.3.1.min.js" %}"></script>
		<script src="{% static "style.js" %}"></script>
		<link rel="stylesheet" href="{% static "index.css" type="text/css" %}">
		<script src="{% static "dynamics.js" %}"></script>
	</head>
	<body >
	  <div class="loading_modal">
    </div>
		<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
        	<a class="navbar-brand logo showlink" href="/"><img src="{% static "logo.png" %}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
		  <ul class="navbar-nav">
		    <li class="nav-item navli">
		      <a class="nav-link showlink" href="/">Repositories</a>
		    </li>
		    <li class="nav-item navli">
		      <a class="nav-link showlink" href="/snapshots">Snapshots</a>
		    </li>
		    <li class="nav-item navli">
		      <a class="nav-link showlink" href="/integrate">Integrate</a>
		    </li>
		    <li class="nav-item navli">
		      <a class="nav-link showlink" href="/settings">Settings</a>
		    </li>
		  </ul>
		</div>
		<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item navli"><a class="nav-link" href="/logout">logout</a></li>
			</ul>
		</div>
		</nav>
		<br>
		{% block content  %}
		{% endblock %}
		<br>
		<br>
	</body>
</html>
