{% extends 'index.html' %}
{% block content  %}
                <script>
                        $(document).ready(function(){
                                $('.status').mouseover(function(){
                                        $(this).css('background-color', '#ecf1df');
                                        $(this).css('padding', '10px');
                                        $(this).css('border-radius', '10px');
                                })
                                $('.status').mouseout(function(){
                                        $(this).css('background-color', 'white');
                                        $(this).css('padding', '0px');
                                })
                        })
                </script>
		<div class="sidenav">
                    <a href="#main">General information</a>
		    {% for repo in repos  %}
                    <a href="#{{repo.name}}">{{repo.name}}</a>
		    {% endfor  %}
                </div>
		<br>
                <main>
                <div id="main"></div>
                <div class="container-fluid container genSection">
                        <div class="row genBox">
                             <div class="genInfo generalcolor">
                                <h2>General information</h2>
                             </div>
                             <div class="genContent">
				<p>Hostname: {{general.hostname}}</p>
				<p>Storage path: {{general.path}}</p>
				<p>Available space: {{general.space}}</p>
				<p>Last check: {{general.lastCheck}}</p>
				{% if general.status  %}
                                <p>Overall status: <span id="ostatus" class="status">healthy</span></p>
				{% else  %}
                                <p>Overall status: <span id="ostatus" class="status">unhealthy</span></p>
				{% endif %}
                                <br>
                                <a href="/update/" class="btn showlink linkbtn generalcolor">Check backups</a>
                              </div>
                        </div>
                        <br>
                        <div class="row">
                                {% for repo in repos  %}
                                <p id="{{repo.name}}"></p>
                                <div class="col-md-6">
                                <!--div class="genBox genBoxSmall"-->
                                        <div class="genInfo">
                                                <h2>Name: {{ repo.name }}</h2>
                                        </div>
                                        <div class="genContent"> 
                                                <p>Absolute path: {{repo.absolPath}}</p>
                                                {% if repo.health %}
                                                        <p>Status: <span class="status">healthy</span></p>
                                                {% else %}
                                                        <p>Status: <span style="color:red">not healthy</span></p>
                                                {% endif %}
                                                <p>Used disk space: {{repo.diskSpace}}</p>
                                                <p>Last update: {{repo.lastUpdate}}</p>
                                                <br>
                                                <p><a href="{{repo.snapshotsURI}}" class="btn showlink linkbtn">Show snapshots</a></p>
                                        </div>
                                </div>
                                <!--/div-->
                                <br>
                                {% endfor  %}
                        </div>
                </div>
        </main>
{% endblock  %}
