{% extends 'index.html' %}
{% block content %}
	<main style="margin-left: 0;">
		<br>
		<div class="container-fluid container genSection">
			<div class="genBox">
				<div class="genInfo">
					<h2>Integrate restic backup and castic monitoring on a new system</h2>
				</div>
				<div class="genContent">
					<p><span style="color: red">Warning: </span>Integrating is still in test phase and needs some more development.</p>
				<form action="/integrate/" method="POST">
					{% csrf_token %}
					<div class="fieldWrapper form-group">
							{{ form.user.errors }}
							<label for="{{ form.user.id_for_label }}">Remote user:</label>
							{{ form.user }}
					</div>
					<br>
					<div class="fieldWrapper form-group">
							{{ form.password.errors }}
							<label for="{{ form.password.id_for_label }}">Password for remote user:</label>
							{{ form.password }}
					</div>
					<br>
					<div class="fieldWrapper form-group">
							{{ form.localUser.errors }}
							<label for="{{ form.localUser.id_for_label }}">User on local machine:</label>
							{{ form.localUser }}
					</div>
					<div class="fieldWrapper form-group">
							{{ form.localPassword.errors }}
							<label for="{{ form.localPassword.id_for_label }}">Password for local user:</label>
							{{ form.localPassword }}
					</div>
					<br>
					<div class="fieldWrapper form-group">
							{{ form.dest.errors }}
							<label for="{{ form.dest.id_for_label }}">Remote-destination:</label>
							{{ form.dest }}
					</div>
					<br>
					<div class="fieldWrapper form-group">
							{{ form.repoPath.errors }}
							<label for="{{ form.repoPath.id_for_label }}">Path to new repository: {{ config.general.backupPath }}</label>
							{{ form.repoPath }}
					</div>
					<br>
					<div class="fieldWrapper form-group">
						{{ form.backupPath.errors }}
						<label for="{{ form.backupPath.id_for_label }}">Path to backup at remote-machine:</label>
						{{ form.backupPath }}
					</div>
					<br><br>
					<button class="btn linkbtn showlink">Start integration</button>
				</form>
				</div>
			</div>
		</div>
	</main>
{% endblock  %}
