<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>castic</title>
		{% load static %}
		<!-- Favicons -->
			<link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
			<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
			<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
			<link rel="manifest" href="{% static "site.webmanifest" %}">
			<link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#5bbad5">
			<link rel="shortcut icon" href="{% static "favicon.ico" %}">
		<!-- Favicons -->
		<link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
		<link rel="shortcut icon" href="{% static "logo.ico"%}" type="image/ico">
		<script src="{% static "jquery-3.3.1.min.js" %}"></script>
		<script src="{% static "style.js" %}"></script>
		<link rel="stylesheet" href="{% static "index.css" %}" type="text/css">
		<script src="{% static "dynamics.js" %}"></script>
	</head>
	<body style="width: 100%; height: 100%; margin: 0 auto;">
		<div class='container form'>
				<form action='/login/' method="POST">
					{%  csrf_token  %}
					<div class="genBox">
						<div class="genInfo">
							<h2>Authentication for castic</h2>
						</div>
						<div class="genContent">
							<div class="fieldWrapper form-group">
									{{ form.name.errors }}
									<label for="{{ form.name.id_for_label }}">Username:</label>
									{{ form.name }}
							</div>
							<div class="fieldWrapper form-group">
									{{ form.password.errors }}
									<label for="{{ form.password.id_for_label }}">Password:</label>
									{{ form.password }}
							</div>
							<button style="margin-top: 0.7em;" type="submit" value="enter" class="btn linkbtn showlink">Submit</button>
						</div>
					</div>
				</form>
		</div>
				<br>
				<br>
		<script>
			let input = $('input');
			for (let i=0; i < input.length; i++){
				input[i].addClass = 'form-control';
			}
		</script>
		<div class="loading_modal">
   		</div>
	</body>
</html>
