<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>castic</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
		<link rel="shortcut icon" type="image/x-icon" href="{% static "logo.ico"%}">
		<script src="{% static "jquery-3.3.1.min.js" %}"></script>
		<script src="{% static "style.js" %}"></script>
		<link rel="stylesheet" href="{% static "index.css" %}" type="text/css">
		<style>
			.title {
				color: black; 
				border-radius: 8px;
				display: flex;
  				justify-content: center;
  				align-items: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: auto;
				margin-bottom: auto;
			}
		</style>
	</head>
	<body>
		<div class='container-fluid container' style="margin-top: 4.6em;">
			<section>
				<form action='/login/' method="POST">
					{%  csrf_token  %}
					<h1>castic Login</h1>
					<h2>Dear user, please authenticate yourself to get access.</h2>
					<div class="fieldWrapper form-group">
							{{ form.name.errors }}
							<label for="{{ form.name.id_for_label }}">Username:</label>
							{{ form.name }}
					</div>
					<div class="fieldWrapper form-group">
							{{ form.password.errors }}
							<label for="{{ form.password.id_for_label }}">Password:</label>
							{{ form.password }}
					</div>
					<button type="submit" value="enter" class="btn btn-light showlink">Login</button>
				</form>
			</section>
		</div>
		<script>
			let input = $('input');
			for (let i=0; i < input.length; i++){
				input[i].addClass = 'form-control';
			}
		</script>
	</body>
</html>
