{% extends 'index.html' %}
{% block content  %}
                <script>
                        $(document).ready(function(){
                                $('.status').mouseover(function(){
                                        $(this).css('background-color', '#ecf1df');
                                        $(this).css('padding', '10px');
                                        $(this).css('border-radius', '10px');
                                })
                                $('.status').mouseout(function(){
                                        $(this).css('background-color', 'white');
                                        $(this).css('padding', '0px');
                                })
                        })
                </script>
		<div class="sidenav">
                    <a href="#main">General information</a>
                    <div class="seperator" style="background-color: rgb(128, 103, 236); margin-top: 0.2em; margin-bottom: 0.2em;"></div>
		    {% for repo in repos  %}
                    <a href="#{{repo.name}}">{{repo.name}}</a>
		    {% endfor  %}
                </div>
		<br>
                <main>
                <div id="main"></div>
                <div class="container-fluid container genSection">
                        <div class="genBox">
                             <div class="genInfo generalcolor">
                                <h2>General information</h2>
                             </div>
                             <div class="genContent">
				<p><span class="stickingOutContentGen">Hostname:</span> {{general.hostname}}</p>
				<p><span class="stickingOutContentGen">Storage path:</span> {{general.path}}</p>
				<p><span class="stickingOutContentGen">Available space:</span> {{general.space}}</p>
				<p><span class="stickingOutContentGen">Last check:</span> {{general.lastCheck}}</p>
				{% if general.status  %}
                                <p><span class="stickingOutContentGen">Overall status: </span><span id="ostatus" class="status">healthy</span></p>
				{% else  %}
                                <p><span class="stickingOutContentGen">Overall status:</span> <span id="ostatus" class="status">unhealthy</span></p>
				{% endif %}
                                <br>
                                <a href="/update/" class="btn showlink linkbtn generalcolor">Check backups</a>
                              </div>
                        </div>
                        <br>
                        <div class="row">
                                {% for repo in repos  %}
                                <div class="col-md-6" style="margin-bottom: 1.5em;">
                                <div id="{{repo.name}}" class="genBox">
                                        <div class="genInfo">
                                                <h2>Name: {{ repo.name }}</h2>
                                        </div>
                                        <div class="genContent"> 
                                                <p><span class="stickingOutContent">Absolute path:</span> {{repo.absolPath}}</p>
                                                {% if repo.health %}
                                                        <p><span class="stickingOutContent">Status:</span> <span class="status">healthy</span></p>
                                                {% else %}
                                                        <p><span class="stickingOutContent">Status:</span> <span style="color:red">not healthy</span></p>
                                                {% endif %}
                                                <p><span class="stickingOutContent">Used disk space:</span> {{repo.diskSpace}}</p>
                                                <p><span class="stickingOutContent">Last check:</span> {{repo.lastUpdate}}</p>
                                                <br>
                                                <p><a href="{{repo.snapshotsURI}}" class="btn showlink linkbtn">Show snapshots</a></p>
                                        </div>
                                </div>
                                </div>
                                <br>
                                {% endfor  %}
                        </div>
                </div>
        </main>
{% endblock  %}
