{% extends 'index.html' %}
{% block content %}
            <div class="sidenav">
				{% for cat in cats  %}
					<a href="#{{cat.category}}">{{cat.category}}</a>
				{% endfor %}
					<a href="#debug">debug</a>
            </div>
		<main>
			<div class="container-fluid container">
				<form action='/settings/' method='POST'>
					{%  for cat in cats  %}
						<p id="{{cat.category}}"></p>
						<br>
						<div class="genBox">
						<div class="genInfo">
							<h2>{{cat.category}}</h2>
						</div>
							<div class="genContent">
							{% for setting in form %}
								{% for entry in cat.content %}
									{% if setting.name in entry.key %}
									<div class="fieldWrapper form-group">
										{% csrf_token %}
										{{ setting.errors }}
										<label id="{{ setting.id_for_label }}" for="{{ setting.id_for_label }}">{{ setting.label }}: </label>
										{{ setting }}
									</div>
									<br>
									{% endif %}
								{% endfor %}
							{%  endfor  %}
							</div>
							</div>
					{%  endfor  %}
				<br>
				</form>
			</div>
			<p id="debug"></p>
			<div class="container-fluid container">
				<div class="genBox">
					<div class="genInfo">
						<h2>debug</h2>
					</div>
					<div class="genContent">
						<h3>Here are some debug methods you can call for Troubleshooting.</h3>
						<form action="/settings/clear_check_data">
							<div class="genContent">
								<button class="btn linkbtn">Clear and renew backup checks</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
{% endblock  %}
