{% extends 'index.html' %}
{% block content %}
            <div class="sidenav">
				{% for cat in cats  %}
					<a href="#{{cat.category}}">{{cat.category}}</a>
				{% endfor %}
					<a href="#debug">debug</a>
            </div>
		<main>
			<div class="container-fluid container">
				<form action='/settings/' method='POST'>
					{%  for cat in cats  %}
						<p id="{{cat.category}}"></p>
						<br>
						<div class="genBox">
						<div class="genInfo">
							<h2>{{cat.category}}</h2>
						</div>
							<div class="genContent">
							{% for setting in form %}
								{% for entry in cat.content %}
									{% if setting.name in entry.key %}
									<div class="fieldWrapper form-group">
										{% csrf_token %}
										{{ setting.errors }}
										<label id="{{ setting.id_for_label }}" for="{{ setting.id_for_label }}">{{ setting.label }}: </label>
										{{ setting }}
									</div>
									{% if setting.label == 'Number of snapshots to keep on all repos' %}
										<br>
										<button class="btn linkbtn mod_restore" type=button>Forget rules for particular repos</button>
											<div class="modal">
												<div class="modal-content">
													<span class="close">&times;</span>
													<br>
													<div class="container">
														<p>I am sorry. Feature is still in development.</p>
														<!--button class="btn linkbtn showlink">Submit</button-->
														<br><br>
													</div>
												</div>
											</div>
											<script>modals();</script>
									{% endif %}
									<br>
									{% endif %}
								{% endfor %}
							{%  endfor  %}
							</div>
							</div>
					{%  endfor  %}
					<button style='display: none;'>Submit</button>
				<br>
				</form>
			</div>
			<p id="debug"></p>
			<div class="container-fluid container">
				<div class="genBox">
					<div class="genInfo">
						<h2>debug</h2>
					</div>
					<div class="genContent">
						<h3>Here are some debug methods you can call for Troubleshooting.</h3>
						<form action="/settings/clear_check_data">
							<div class="genContent">
								<button class="btn linkbtn">Clear and renew backup checks</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
{% endblock  %}
