{% extends 'index.html' %}
{% block content  %}
		<div class="sidenav">
                    <a href="#main">General information</a>
		    {% for repo in repos  %}
                    <a href="#{{repo.name}}">{{repo.name}}</a>
		    {% endfor  %}
                </div>
                <div class="main" id="main">
                <div class="container-fluid title">
                        <h1 id="info" class="header">Your backup information.</h1>
                        <div class="general">
                                <h2>General information: </h2>
                                <br>				
				<p>Hostname: {{general.hostname}}</p>
				<p>Storage path: {{general.path}}</p>
				<p>Available space: {{general.space}}</p>
				<p>Last check: {{general.lastCheck}}</p>
                                <p>Overall status: <span id="ostatus" style="color:green">{{general.status}}</span></p>
				{% load static  %}
                                <img id="biglogo" src="{% static "logo2.png" %}">
                        </div>
                        <h1 id="info" class="header">Details to each repository.</h1>
			{% for repo in repos  %}
				<span id="{{ repo.name  }}" class="placeholder"></span>
				<div class="item">
					<p>Name: {{ repo.name }}</p>
					<p>Absolute path: {{repo.absolPath}}</p>
					{% if repo.health %}
						<p>Status: <span style="color:green">healthy</span></p>
					{% else %}
						<p>Status: <span style="color:red">not healthy</span></p>
					{% endif %}
					<p>Used disk space: {{repo.diskSpace}}</p>
					<p>Last update: {{repo.lastUpdate}}</p>
				</div>
			{% endfor  %}
                <script>
                        $('.status').mouseover(function(){
                                $(this).css('background-color', '#ecf1df');
                                $(this).css('padding', '10px');
                                $(this).css('border-radius', '10px');
                        })
                        $('.status').mouseout(function(){
                                $(this).css('background-color', 'white');
                                $(this).css('padding', '0px');
                        })
                        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                                $('.sidenav').css('display', 'none');
                                $('#main').css('width', '100%');
                                $('#main').css('margin-left', '0');
                                $('.title').css('margin-top', '20%');
                                $('#biglogo').css('width', '80%');
                                $('#biglogo').css('height', '80%');
                        }
                </script>
        </div>
        </div>
{% endblock  %}
