{% extends 'index.html' %}
{% block content %}
		<div class="container-fluid title">
			<div class="item">
				<p><span style="color: red">Warning:</span> You need a user on the remote machine that is able to become root via sudo!</p>
				<form action="/integrate/" method="POST">
					{% csrf_token %}
					<div class="fieldWrapper form-group">
							{{ form.user.errors }}
							<label for="{{ form.user.id_for_label }}">Remote-user:</label>
							{{ form.user }}
					</div>
					<div class="fieldWrapper form-group">
							{{ form.password.errors }}
							<label for="{{ form.password.id_for_label }}">Password:</label>
							{{ form.password }}
					</div>
					<div class="fieldWrapper form-group">
							{{ form.dest.errors }}
							<label for="{{ form.dest.id_for_label }}">Remote-destination:</label>
							{{ form.dest }}
					</div>
					<div class="fieldWrapper form-group">
							{{ form.repoPath.errors }}
							<label for="{{ form.repoPath.id_for_label }}">Path to new repository: {{ config.general.backupPath }}</label>
							{{ form.repoPath }}
					</div>
					<div class="fieldWrapper form-group">
						{{ form.backupPath.errors }}
						<label for="{{ form.backupPath.id_for_label }}">Path to backup at remote-machine:</label>
						{{ form.backupPath }}
					</div>
					<div class="fieldWrapper form-group">
							{{ form.ownPassword.errors }}
							<label for="{{ form.ownPassword.id_for_label }}">I want to set the Repository password manually</label>
							{{ form.ownPassword }}
					</div>
					<br>
					<button class="btn btn-light">Start integration</button>
				</form>
			</div>
		</div>
		<script>
		
		</script>
{% endblock  %}
