<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>castic</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
		<link rel="shortcut icon" type="image/x-icon" href="{% static "logo.ico"%}">
		<script src="{% static "jquery-3.3.1.min.js" %}"></script>
		<script src="{% static "style.js" %}"></script>
		<style>
			.title{
				color: black; 
				border-radius: 8px;
				display: flex;
  				justify-content: center;
  				align-items: center;
			}
		</style>
	</head>
	<body>
		<div class='container-fluid title'>
			<form action='/login' method="POST">
				{%  csrf_token  %}
				{{ form }}
				<input type="submit" value="enter">
			</form>
		</div>
	</body>
</html>