{% extends 'index.html' %}
{% block content %}
            <div class="sidenav">
				{% for cat in cats  %}
					<a href="#{{cat.category}}">{{cat.category}}</a>
				{% endfor %}
            </div>
		<div class="main" id="main">
			<br>
			<div class="container-fluid title">
				<form action='/settings/' method='POST'>
					{%  for cat in cats  %}
						<p id="{{cat.category}}"></p>
						<br>
						<div class="item">
							<h2>{{cat.category}}</h2>
							{% for setting in form %}
								{% for entry in cat.content %}
									{% if setting.name in entry.key %}
									<div class="fieldWrapper form-group">
										{% csrf_token %}
										{{ setting.errors }}
										<label id="{{ setting.id_for_label }}" for="{{ setting.id_for_label }}">{{ setting.label }}: </label>
										{{ setting }}
									</div>
									<br>
									{% endif %}
								{% endfor %}
							{%  endfor  %}
						</div>
					{%  endfor  %}
				<br>
				<button class="btn btn-light" formaction="/clear_check_data">Submit</button>
				</form>
			</div>
			<br>
			<div class="container-fluid title">
				<div class="item">
					<form action="/settings/clear_check_data">
					<button class="btn btn-light">Clear and renew all data from backup checks</button>
					</form>
				</div>
			</div>
		</div>
{% endblock  %}
