{% extends 'index.html' %}
{% block content %}
                <div class="sidenav">
		    <!--
                    {% for repo in repos  %}
                    <a href="#{{repo.name}}">{{repo.name}}</a>
                    {% endfor  %}
		    -->
		    <a href="#">Setting1</a>
		    <a href="#">Setting1</a>
		    <a href="#">Setting1</a>
		    <a href="#">Setting1</a>
		    <a href="#">Setting1</a>
		    <a href="#">Setting1</a>
                </div>
		<div class="main" id="main">
			<div class="container-fluid title">
				<div class="item" style="margin-top: 10%;">
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
					<p>Hey I am a setting!</p>
				</div>
			</div>
		</div>
{% endblock  %}
