{% extends 'index.html' %}
{% block content %}
                <div class="sidenav">
		    {% for cat in cats  %}
			<a href="#{{cat}}">{{cat}}</a>
		    {% endfor  %}
                </div>
		<div class="main" id="main">
			<div class="container-fluid title">
				<div class="item" style="margin-top: 10%;">
					<form>
					{% for cat in content %}
						{% for pair in cat  %}	
						<p>{{pair.key}}</p>
						<input id="{{pair.key}}" type="text" value="{{pair.value}}">
						<br>
						<br>
						{% endfor  %}
					{% endfor  %}
					<br>
					<button class="btn btn-light">Submit</button>
					</form>

				</div>
			</div>
		</div>
{% endblock  %}
